<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LeftBarBg</key>
	<string>painterbackground_side.png</string>
	<key>LeftBarX</key>
	<integer>0</integer>
	<key>LeftBarY</key>
	<integer>0</integer>
	<key>LeftBarWidth</key>
	<integer>10</integer>
	<key>LeftBarHeight</key>
	<integer>768</integer>
	<key>ImagePickerX</key>
	<integer>0</integer>
	<key>ImagePickerY</key>
	<integer>0</integer>
	<key>ImagePickerWidth</key>
	<integer>1024</integer>
	<key>ImagePickerHeight</key>
	<integer>768</integer>
	<key>SelectedImageViewX</key>
	<integer>10</integer>
	<key>SelectedImageViewY</key>
	<integer>0</integer>
	<key>SelectedImageViewHeight</key>
	<integer>768</integer>
	<key>SelectedImageViewWidth</key>
	<integer>200</integer>
	<key>PhotoWidth</key>
	<integer>200</integer>
	<key>PhotoHeight</key>
	<integer>200</integer>
	<key>HMargin</key>
	<integer>10</integer>
	<key>VMargin</key>
	<integer>10</integer>
	<key>RightBarBg</key>
	<string>painterbackground_side.png</string>
	<key>LevelOneImageNum</key>
	<integer>100</integer>
	<key>MainDisplayToolBarBg</key>
	<string>menu_blackground.png</string>
	<key>ToolBarOptionIcon</key>
	<string>option_botton_002.png</string>
	<key>ToolBarPlayIcon</key>
	<string>playlist_botton_002.png</string>
	<key>ToolBarPauseIcon</key>
	<string>play_botton_002</string>
	<key>ToolBarPreviewIcon</key>
	<string>Gallery_botton_002.png</string>
	<key>ToolBarImageSelectIcon</key>
	<string>open_botton_002.png</string>
	<key>ToolBarMusicSelectIcon</key>
	<string>miucelist_botton_002.png</string>
	<key>ToolBarBackIcon</key>
	<string>back_botton_002.png</string>
	<key>DateTimeDataImage</key>
	<string>Impatfont_001.png</string>
	<key>MainDisplayBg</key>
	<string>background_001.jpg</string>
	<key>SelectedSignatureImage</key>
	<string>Signaturebackground003.png</string>
	<key>ScrollViewBackground</key>
	<string>background_001.jpg</string>
	<key>NormalSignatureImage</key>
	<string>Signaturebackground002.png</string>
	<key>ToolBarMusicImageListIcon</key>
	<string>back_botton_002.png</string>
	<key>MusicImageAttachBackground</key>
	<string>list_background_001.png</string>
	<key>MusicImageListIndicatorImageIcon</key>
	<string>Senior Artists.png</string>
	<key>MusicImageListIndicatorMusicIcon</key>
	<string>Senior Artists.png</string>
	<key>Apple4</key>
	<string>apple_small_004.png</string>
	<key>Apple5</key>
	<string>apple_small_005.png</string>
	<key>Apple6</key>
	<string>apple_small_006.png</string>
	<key>Apple7</key>
	<string>apple_small_007.png</string>
	<key>Apple8</key>
	<string>apple_small_008.png</string>
	<key>Apple9</key>
	<string>apple_small_009.png</string>
	<key>Apple10</key>
	<string>apple_small_010.png</string>
	<key>MainSettingBackground</key>
	<string>option_background_002.png</string>
	<key>OptionLabelSelectedBackground</key>
	<string>selcet_state_002.png</string>
	<key>OptionLabelNormalBackground</key>
	<string>selcet_state_001.png</string>
	<key>MainDisplayBarBackground</key>
	<string>background_said.png</string>
	<key>ImagePickerBarBackground</key>
	<string>painterbackground_side.png</string>
	<key>ImageSelectedViewBarBackground</key>
	<string>painterbackground_side.png</string>
	<key>MusicPickerBarBackground</key>
	<string>painterbackground_side.png</string>
	<key>OptionBarBackground</key>
	<string>painterbackground001_side.png</string>
	<key>MusicImageAttachBarBackground</key>
	<string>painterbackground_side.png</string>
	<key>SliderBarThumbImage</key>
	<string>Scrollbar_A001.png</string>
	<key>SliderMinTrackImage</key>
	<string>Scrollbar_001.png</string>
	<key>SliderMaxTrackImage</key>
	<string>Scrollbar_002.png</string>
	<key>InitQuality</key>
	<integer>7</integer>
	<key>InitTimes</key>
	<integer>5</integer>
	<key>SignatureSelectedFrameImage</key>
	<string>outside_gallery_002.png</string>
	<key>MusicImageMusicListX</key>
	<string></string>
</dict>
</plist>
