<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LeftBarBg</key>
	<string>painterbackground_side.png</string>
	<key>LeftBarX</key>
	<integer>0</integer>
	<key>LeftBarY</key>
	<integer>0</integer>
	<key>LeftBarWidth</key>
	<integer>10</integer>
	<key>LeftBarHeight</key>
	<integer>768</integer>
	<key>ImagePickerX</key>
	<integer>0</integer>
	<key>ImagePickerY</key>
	<integer>0</integer>
	<key>ImagePickerWidth</key>
	<integer>1024</integer>
	<key>ImagePickerHeight</key>
	<integer>768</integer>
	<key>SelectedImageViewX</key>
	<integer>10</integer>
	<key>SelectedImageViewY</key>
	<integer>0</integer>
	<key>SelectedImageViewHeight</key>
	<integer>768</integer>
	<key>SelectedImageViewWidth</key>
	<integer>200</integer>
	<key>PhotoWidth</key>
	<integer>100</integer>
	<key>PhotoHeight</key>
	<integer>100</integer>
	<key>HMargin</key>
	<integer>7</integer>
	<key>VMargin</key>
	<integer>16</integer>
	<key>RightBarBg</key>
	<string>painterbackground_side.png</string>
	<key>LevelOneImageNum</key>
	<integer>100</integer>
	<key>MainDisplayToolBarBg</key>
	<string>listmainbottonbackground.png</string>
	<key>ToolBarOptionIcon</key>
	<string>option_botton_001.png</string>
	<key>ToolBarOptionIconHighlight</key>
	<string>option_botton_002.png</string>
	<key>ToolBarPlayIcon</key>
	<string>play_botton_001.png</string>
	<key>ToolBarPlayIconHighlight</key>
	<string>play_botton_002.png</string>
	<key>ToolBarPauseIcon</key>
	<string>paues_botton_001.png</string>
	<key>ToolBarPauseIconHighlight</key>
	<string>pause_botton_002.png</string>
	<key>ToolBarPreviewIcon</key>
	<string>Gallery_botton_001.png</string>
	<key>ToolBarPreviewIconHighlight</key>
	<string>Gallery_botton_002.png</string>
	<key>ToolBarImageSelectIcon</key>
	<string>open_botton_001.png</string>
	<key>ToolBarImageSelectIconHighlight</key>
	<string>open_botton_002.png</string>
	<key>ToolBarMusicSelectIcon</key>
	<string>music_botton_001.png</string>
	<key>ToolBarMusicSelectIconHighlight</key>
	<string>music_botton_002.png</string>
	<key>ToolBarBackIcon</key>
	<string>playlist_botton_001.png</string>
	<key>ToolBarBackIconHighlight</key>
	<string>playlist_botton_002.png</string>
	<key>DateTimeDataImage</key>
	<string>Impatfont_001.png</string>
	<key>MainDisplayBg</key>
	<string>background_001.png</string>
	<key>SelectedSignatureImage</key>
	<string>Signaturebackground003.png</string>
	<key>ScrollViewBackground</key>
	<string>background_001.jpg</string>
	<key>NormalSignatureImage</key>
	<string>Signaturebackground002.png</string>
	<key>ToolBarMusicImageListIcon</key>
	<string>playlist_botton_001.png</string>
	<key>ToolBarMusicImageListIconHighlight</key>
	<string>playlist_botton_002.png</string>
	<key>MusicImageAttachBackground</key>
	<string>painterbackground001.png</string>
	<key>MusicImageListIndicatorMusicNormalIcon</key>
	<string>point_list_001.png</string>
	<key>MusicImageListIndicatorMusicNormalIconH</key>
	<string>point_list.png</string>
	<key>MusicImageListIndicatorMusicAttachedIcon</key>
	<string>point_list.png</string>
	<key>MusicImageMusicListItemNormalNameImage</key>
	<string>body_background_002.png</string>
	<key>MusicImageMusicListItemPlayBg</key>
	<string>body_background_015.png</string>
	<key>MusicImageMusicListItemNormalNumberTitleImage</key>
	<string>muisc_list_nmber_title.png</string>
	<key>MusicImageMusicListItemNormalNumberImage</key>
	<string>body_background_003.png</string>
	<key>MusicImageMusicListItemNormalNumberImageH</key>
	<string>body_background_014_b.png</string>
	<key>MusicImageMusicListItemAttachedNameImage</key>
	<string>muisc_list_name_background.png</string>
	<key>MusicImageMusicListItemAttachedNumberTitleImage</key>
	<string>muisc_list_nmber_title.png</string>
	<key>MusicImageMusicListItemAttachedNumberImage</key>
	<string>muisc_list_nmber_input.png</string>
	<key>MusicImageMusicListItemNormalBackground</key>
	<string>muisc_list_001.png</string>
	<key>MusicImageMusicListItemSelectedBackground</key>
	<string>muisc_list_a001.png</string>
	<key>MusicImageMusicNoAlbumIcon</key>
	<string>music_icon_paper.png</string>
	<key>MusicImageMusicArtworkIcon</key>
	<string>music_list_image_01.png</string>
	<key>MusicImageImageListNormalIndicator</key>
	<string>point_list_001.png</string>
	<key>MusicImageImageListNormalIndicatorH</key>
	<string>point_list.png</string>
	<key>MusicImageImageListAttachedIndicator</key>
	<string>point_list.png</string>
	<key>MusicImageImageListItemNormalNameImage</key>
	<string>image_list_name_background.png</string>
	<key>MusicImageImageListItemAttachedNameImage</key>
	<string>body_background_012.png</string>
	<key>MusicImageImageListItemNormalNumberTitleImage</key>
	<string>body_background_012.png</string>
	<key>MusicImageImageListItemAttachedNumberTitleImage</key>
	<string>body_background_012.png</string>
	<key>MusicImageImageListItemNormalNumberImage</key>
	<string>image_list_nmber_input_002.png</string>
	<key>MusicImageImageListItemAttachedNumberImage</key>
	<string>image_list_nmber_input_002.png</string>
	<key>MusicImageImageListNoImageIcon</key>
	<string>image_background_001.png</string>
	<key>MusicImageImageListItemNormalBackground</key>
	<string>image_list_001.png</string>
	<key>MusicImageImageListItemSelectedBackground</key>
	<string>image_list_a001.png</string>
	<key>Apple4</key>
	<string>apple_small_004.png</string>
	<key>Apple5</key>
	<string>apple_small_005.png</string>
	<key>Apple6</key>
	<string>apple_small_006.png</string>
	<key>Apple7</key>
	<string>apple_small_007.png</string>
	<key>Apple8</key>
	<string>apple_small_008.png</string>
	<key>Apple9</key>
	<string>apple_small_009.png</string>
	<key>Apple10</key>
	<string>apple_small_010.png</string>
	<key>MainSettingBackground</key>
	<string>option_background_002.png</string>
	<key>OptionLabelSelectedBackground</key>
	<string>select_botton_001_b.png</string>
	<key>OptionLabelNormalBackground</key>
	<string>select_botton_001_a.png</string>
	<key>OptionsLabelHighlightedBackground</key>
	<string>select_botton_001_c.png</string>
	<key>MainDisplayImagePickerBarBackground</key>
	<string>painterbackground_side.png</string>
	<key>ImagePickerSelectedImageViewBarBackground</key>
	<string>painterbackground001_side.png</string>
	<key>SelectedImageViewMainDisplayBarBackground</key>
	<string>painterbackground_side.png</string>
	<key>ImagePickerViewBackground</key>
	<string>selcetbackground.png</string>
	<key>MainDisplayMusicPickerBarBackground</key>
	<string>painterbackground_side.png</string>
	<key>MusicPickerSelectedMusicViewBarBackground</key>
	<string>painterbackground001_side.png</string>
	<key>MusicPickerItemBackground</key>
	<string>music_background_002.png</string>
	<key>SelectedMusicViewItemBackground</key>
	<string>music_background_001.png</string>
	<key>SelectedMusicViewBackground</key>
	<string>painterbackground001.png</string>
	<key>SelectedMusicViewMainDisplayBarBackground</key>
	<string>painterbackground_side.png</string>
	<key>OptionBarBackground</key>
	<string>painterbackground001_side.png</string>
	<key>MainDisplayMusicImageAttachBarBackground</key>
	<string>painterbackground001_side.png</string>
	<key>SliderBarThumbImage</key>
	<string>Scrollbar_A001.png</string>
	<key>SliderMinTrackImage</key>
	<string>Scrollbar_001.png</string>
	<key>SliderMaxTrackImage</key>
	<string>Scrollbar_002.png</string>
	<key>InitQuality</key>
	<integer>8</integer>
	<key>InitTimes</key>
	<integer>6</integer>
	<key>SignatureSelectedFrameImage</key>
	<string>outside_gallery_002.png</string>
	<key>MusicImageMusicListX</key>
	<string></string>
	<key>MusicPickerMusicPlayIcon</key>
	<string>music_contrlPanel_play.png</string>
	<key>MusicPickerMusicStopIcon</key>
	<string>music_contrlPanel_stop.png</string>
	<key>MusicPickerMusicPauseIcon</key>
	<string>music_contrlpanel_pause.png</string>
	<key>OptionsLeftBackground</key>
	<string>body_background_011.png</string>
	<key>OptionsRightBackground</key>
	<string>body_background_016.png</string>
	<key>MusicPickerBackground</key>
	<string>selcetbackground.png</string>
	<key>ImageSelectedViewBackground</key>
	<string>painterbackground001.png</string>
	<key>ImagePickerScrollViewBackground</key>
	<string>painterbackground001.png</string>
	<key>ImagePickerPageViewBackground</key>
	<string>selcet_block_background_001.png</string>
	<key>SelectedImageViewPageViewBackground</key>
	<string>selcet_block_background.png</string>
	<key>ImagePickerFrameImage</key>
	<string>outside_painter_001.png</string>
	<key>MusicImageListAddMusicListImageNormal</key>
	<string>add_music_list_a.png</string>
	<key>MusicImageListAddMusicListImageSelected</key>
	<string>add_music_list_b.png</string>
	<key>MusicImageListAddImageListImageNormal</key>
	<string>add_image_list_botton_a.png</string>
	<key>MusicImageListAddImageListImageSelected</key>
	<string>add_image_list_botton_b.png</string>
	<key>OptionsUserMedalBackground</key>
	<string>rongbu.png</string>
	<key>OptionsUserUpgradeInfoBackground</key>
	<string>achievement_background_001.png</string>
	<key>UserUpgradePresentOnDutyCopper</key>
	<string>appellation_005_a.png</string>
	<key>UserUpgradePresentOnDutySilver</key>
	<string>appellation_005_b.png</string>
	<key>UserUpgradePresentOnDutyGold</key>
	<string>appellation_005_c.png</string>
	<key>UserUpgradePresentOnDutyNoCopper</key>
	<string>appellation_005_a_b.png</string>
	<key>UserUpgradePresentOnDutyNoSilver</key>
	<string>appellation_005_b_b.png</string>
	<key>UserUpgradePresentOnDutyNoGold</key>
	<string>appellation_005_c_b.png</string>
	<key>UserUpgradeNewPersonCopper</key>
	<string>appellation_003_a.png</string>
	<key>UserUpgradeNewPersonSilver</key>
	<string>appellation_003_b.png</string>
	<key>UserUpgradeNewPersonGold</key>
	<string>appellation_003_c.png</string>
	<key>UserUpgradeNewPersonNoCopper</key>
	<string>appellation_003_a_b.png</string>
	<key>UserUpgradeNewPersonNoSilver</key>
	<string>appellation_003_b_b.png</string>
	<key>UserUpgradeNewPersonNoGold</key>
	<string>appellation_003_c_b.png</string>
	<key>UserUpgradeDrawingCopper</key>
	<string>appellation_002_a.png</string>
	<key>UserUpgradeDrawingSilver</key>
	<string>appellation_002_b.png</string>
	<key>UserUpgradeDrawingGold</key>
	<string>appellation_002_c.png</string>
	<key>UserUpgradeDrawingNoCopper</key>
	<string>appellation_002_a_b.png</string>
	<key>UserUpgradeDrawingNoSilver</key>
	<string>appellation_002_b_b.png</string>
	<key>UserUpgradeDrawingNoGold</key>
	<string>appellation_002_c_b.png</string>
	<key>UserUpgradeFansCopper</key>
	<string>appellation_004_a.png</string>
	<key>UserUpgradeFansSilver</key>
	<string>appellation_004_b.png</string>
	<key>UserUpgradeFansGold</key>
	<string>appellation_004_c.png</string>
	<key>UserUpgradeFansNoCopper</key>
	<string>appellation_004_a_b.png</string>
	<key>UserUpgradeFansNoSilver</key>
	<string>appellation_004_b_b.png</string>
	<key>UserUpgradeFansNoGold</key>
	<string>appellation_004_c_b.png</string>
	<key>UserUpgradeShareCopper</key>
	<string>appellation_007_a.png</string>
	<key>UserUpgradeShareSilver</key>
	<string>appellation_007_b.png</string>
	<key>UserUpgradeShareGold</key>
	<string>appellation_007_c.png</string>
	<key>UserUpgradeShareNoCopper</key>
	<string>appellation_007_a_b.png</string>
	<key>UserUpgradeShareNoSilver</key>
	<string>appellation_007_b_b.png</string>
	<key>UserUpgradeShareNoGold</key>
	<string>appellation_007_c_b.png</string>
	<key>UserUpgradeProgressViewBackground</key>
	<string>progress bar_002.png</string>
	<key>UserUpgradeProgressViewForeground</key>
	<string>progress_001.png</string>
	<key>MusicPickerViewButtonBackgroundNormal</key>
	<string>Filter_botton_002.png</string>
	<key>MusicPickerViewButtonBackgroundHighlight</key>
	<string>Filter_botton_b002.png</string>
	<key>MusicSelectedViewButtonBackgroundNormal</key>
	<string>Filter_botton_001.png</string>
	<key>MusicSelectedViewButtonBackgroundHighlight</key>
	<string>Filter_botton_b001.png</string>
	<key>MusicImageAttachImagePickerBarBackground</key>
	<string>painterbackground_side.png</string>
	<key>MusicImageAttachMusicPickerBarBackground</key>
	<string>painterbackground_side.png</string>
	<key>SelectedImageViewMusicImageAttachBarBackground</key>
	<string>painterbackground001_side.png</string>
	<key>SelectedMusicViewMusicImageAttachBarBackground</key>
	<string>painterbackground001_side.png</string>
	<key>MusicImageListRemoveImageNormal</key>
	<string>remove_list_a.png</string>
	<key>MusicImageListRemoveImageSelected</key>
	<string>remove_list_b.png</string>
	<key>DateTimeViewTimeBackground</key>
	<string>timebackground_002.png</string>
	<key>DateTimeViewDateBackground</key>
	<string>timebackground_002.png</string>
	<key>PageScrollViewImageViewHighlighted</key>
	<string>outside_gallery_002.png</string>
	<key>OperationViewShareBackgroiund</key>
	<string>botton_background_001_l_a.png</string>
	<key>OperationViewShareForeground</key>
	<string>Share_botton_001.png</string>
	<key>OperationViewDeleteBackground</key>
	<string>botton_background_001_r_a.png</string>
	<key>OperationViewDeleteForeground</key>
	<string>delete_botton_a.png</string>
	<key>OperationViewShareBackgroundH</key>
	<string>botton_background_001_l_b.png</string>
	<key>OperationViewDeleteBackgroundH</key>
	<string>botton_background_001_r_b.png</string>
	<key>OperationViewShareForegroundH</key>
	<string>Share_botton_002.png</string>
	<key>OperationViewDeleteForegroundH</key>
	<string>delete_botton_b.png</string>
	<key>MusicSelectedViewCellHighlighted</key>
	<string>music_contrlpanel_base_selcet.png</string>
	<key>OptionsMainSettingAutoFilterCheckBoxNoCheck</key>
	<string>painterlisttalbe.png</string>
	<key>OptionsMainSettingAutoFilterCheckBoxChecked</key>
	<string>yes_001.png</string>
	<key>MainDisplayToolBarBgPortrait</key>
	<string>menu_blackground.png</string>
	<key>MainDisplayToolBarPlayNormalPortrait</key>
	<string></string>
	<key>MainDisplayToolBarPlayHighlightedPortrait</key>
	<string></string>
	<key>MainDisplayToolBarImageSelectNormalPortrait</key>
	<string></string>
	<key>MainDisplayToolBarImageSelectHighlightedPortrait</key>
	<string></string>
	<key>MainDisplayToolBarMusicSelectNormalPortrait</key>
	<string></string>
	<key>MainDisplayToolBarMusicSelectHighlightedPortrait</key>
	<string></string>
	<key>MainDisplayToolBarOptionsNormalPortrait</key>
	<string></string>
	<key>MainDisplayToolBarOptionsHighlightedPortrait</key>
	<string></string>
	<key>MainDisplayToolBarPreviewNormalPortrait</key>
	<string></string>
	<key>MainDisplayToolBarPreviewHighlightedPortrait</key>
	<string></string>
	<key>MainDisplayToolBarMusicImageNormalPortrait</key>
	<string></string>
	<key>MainDisplayToolBarMusicImageHighlightedPortrait</key>
	<string></string>
	<key>OptionsSelectScrollViewBackground</key>
	<string>bursh_option_background.png</string>
	<key>OptionsSelectScrollViewLock</key>
	<string>bursh_option_lock.png</string>
	<key>OptionsSelectScrollViewBg</key>
	<string>bursh_option_shell.png</string>
	<key>OptionsSelectScrollViewMask</key>
	<string>bursh_option_mask</string>
	<key>DrawingFinishFrameImage</key>
	<string>panterokside.png</string>
	<key>NotificationViewBackground1</key>
	<string>info_botton_001.png</string>
	<key>NotificationViewBackground2</key>
	<string>info_botton_002.png</string>
	<key>ShareImageBackgroundTop</key>
	<string>body_background_004.png</string>
	<key>ShareImageBackgroundBottom</key>
	<string>down_side_001.png</string>
	<key>ShareImageBigImageBg</key>
	<string>body_background_010.png</string>
	<key>ShareImageSmallImageBg</key>
	<string>body_background_007.png</string>
	<key>ShareImageURLListBg</key>
	<string>body_background_002.png</string>
	<key>ShareImageURLBg</key>
	<string>body_background_002.png</string>
	<key>ShareImageCancelNormal</key>
	<string>body_background_012.png</string>
	<key>ShareImageCancelSelected</key>
	<string>body_background_002_b.png</string>
	<key>ShareImageOKNormal</key>
	<string>body_background_012_F.png</string>
	<key>ShareImageOKSelected</key>
	<string>body_background_002_b.png</string>
	<key>TwitterLogo</key>
	<string>twitte_logo.png</string>
	<key>OptionsPlaySettingDrawingTitleBg</key>
	<string>title_background_001.png</string>
	<key>OptionsPlaySettingWaitingTimeTitleBg</key>
	<string>title_background_001.png</string>
	<key>OptionsPlaySettingPlayModeTitleBg</key>
	<string>title_background_001.png</string>
	<key>OptionsPlaySettingWaitingTimeBg</key>
	<string>body_background_002.png</string>
	<key>OptionsPlaySettingPlayModeBg</key>
	<string>body_background_002.png</string>
	<key>OptionsPlaySettingDrawingSetBg</key>
	<string>body_background_002.png</string>
	<key>OptionsPlaySettingDrawQualityNumBg</key>
	<string>body_background_012.png</string>
	<key>OptionsPlaySettingDrawTimesNumBg</key>
	<string>body_background_012.png</string>
	<key>OptionsPlaySettingDrawQualityTitleBg</key>
	<string>body_background_012.png</string>
	<key>OptionsPlaySettingDrawTimesTitleBg</key>
	<string>body_background_012.png</string>
	<key>OptionsPlaySettingSecondBg</key>
	<string>body_background_012.png</string>
	<key>OptionsPlaySettingSecondTitleBg</key>
	<string>body_background_012.png</string>
	<key>OptionsPlaySettingWaitingContentBg</key>
	<string>body_background_012.png</string>
	<key>OptionsPlaySettingPlayModeSequenceBg</key>
	<string>body_background_012.png</string>
	<key>OptionsPlaySettingPlayModeRandomBg</key>
	<string>body_background_012.png</string>
	<key>OptionsPlaySettingPlayModeIntelBg</key>
	<string>body_background_012.png</string>
	<key>OptionsPlaySettingBrushTitleBg</key>
	<string>title_background_001.png</string>
	<key>OptionsPlaySettingPlayModeSequenceOK</key>
	<string>single_selection_hold_001.png</string>
	<key>OptionsPlaySettingPlayModeSequenceNoOK</key>
	<string>single_selection_001.png</string>
	<key>OptionsPlaySettingPlayModeRandomOK</key>
	<string>single_selection_hold_001.png</string>
	<key>OptionsPlaySettingPlayModeRandomNoOK</key>
	<string>single_selection_001.png</string>
	<key>OptionsPlaySettingPlayModeIntelOK</key>
	<string>single_selection_hold_001.png</string>
	<key>OptionsPlaySettingPlayModeIntelNoOK</key>
	<string>single_selection_001.png</string>
	<key>UISwitchOnImage</key>
	<string>switch_on_background_001.png</string>
	<key>UISwitchOffImage</key>
	<string>switch_off_background_001.png</string>
	<key>UISwitchMidImage</key>
	<string>switch_botton.png</string>
	<key>OptionsWidgetSettingTimeTitleBg</key>
	<string>title_background_001.png</string>
	<key>OptionsWidgetSettingTimeBg</key>
	<string>body_background_002.png</string>
	<key>OptionsWidgetSettingTimeViewTitleBg</key>
	<string>body_background_012.png</string>
	<key>OptionsWidgetSettingSleepTitleBg</key>
	<string>title_background_001.png</string>
	<key>OptionsWidgetSettingSleepBg</key>
	<string>body_background_002.png</string>
	<key>OptionsWidgetSettingSleepViewBg</key>
	<string>body_background_012.png</string>
	<key>OptionsWidgetSettingAutoControlBg</key>
	<string>body_background_012.png</string>
	<key>OptionsWidgetSettingBrightBg</key>
	<string>frame_001.png</string>
	<key>OptionsWidgetSettingSleepTextBg</key>
	<string>botton_m_b001.png</string>
	<key>OptionsWidgetSettingAutoContolBg</key>
	<string>body_background_012.png</string>
	<key>OptionsWidgetSettingPowerTitleBg</key>
	<string>title_background_001.png</string>
	<key>OptionsWidgetSettingPowerBg</key>
	<string>body_background_002.png</string>
	<key>OptionsWidgetSettingPowerTextBg</key>
	<string>body_background_012.png</string>
	<key>OptionsWidgetSettingBigIconTitleBg</key>
	<string>body_background_012.png</string>
	<key>OptionsUserInfoSettingLevelTitleBg</key>
	<string>title_background_001.png</string>
	<key>OptionsUserInfoSettingLevelBg</key>
	<string>body_background_002.png</string>
	<key>OptionsUserInfoSettingLevelTextBg</key>
	<string>body_background_012.png</string>
	<key>OptionsUserInfoSettingPlusBg</key>
	<string>body_background_012.png</string>
	<key>OptionsUserInfoProgressBarBg</key>
	<string>body_background_012.png</string>
	<key>OptionsUserInfoUserGetBg</key>
	<string>body_background_002.png</string>
	<key>OptionsUserInfoUserNextGetBg</key>
	<string>body_background_002.png</string>
	<key>OptionsUserInfoUserNextGetTitleBg</key>
	<string>body_background_012.png</string>
	<key>OptionsUserInfoAchieveTitleBg</key>
	<string>title_background_001.png</string>
	<key>OptionsSignatureSettingTitleBg</key>
	<string>title_background_001.png</string>
	<key>OptionsSignatureSettingBg</key>
	<string>body_background_002.png</string>
	<key>OptionsSignatureSettingSigViewTextBg</key>
	<string>body_background_012.png</string>
	<key>OptionsSignatureSettingAutoColorTextBg</key>
	<string>body_background_012.png</string>
	<key>OptionsSignatureSettingSigSizeTextBg</key>
	<string>body_background_012.png</string>
	<key>OptionsSignatureSettingSigSizeResultTextBg</key>
	<string>body_background_012.png</string>
	<key>OptionsSignatureSettingPreviewBg</key>
	<string>body_background_012.png</string>
	<key>OptionAboutSettingAboutBg</key>
	<string>body_background_002.png</string>
	<key>OptionAboutSettingAboutTitleBg</key>
	<string>title_background_001.png</string>
	<key>OptionAboutSettingBrandImage</key>
	<string>thespeedsun_logo_001.png</string>
	<key>OptionAboutSettingSuggestBg</key>
	<string>body_background_003.png</string>
	<key>OptionAboutSettingSuggestTitleBg</key>
	<string>title_background_001.png</string>
	<key>OptionAboutSettingStatusBg</key>
	<string>body_background_012_F.png</string>
	<key>OptionAboutSettingSubmitBg</key>
	<string>body_background_004.png</string>
	<key>SignatureTitleBg</key>
	<string>botton_a_002.png</string>
	<key>SignatureBg</key>
	<string>body_background_004.png</string>
	<key>SignatureDrawBg</key>
	<string>signature_draw_center.png</string>
	<key>SignatureAddButtonNormal</key>
	<string>body_background_014.png</string>
	<key>SignatureAddButtonSelected</key>
	<string>body_background_014_m.png</string>
	<key>SignatureEditButtonNormal</key>
	<string>body_background_014.png</string>
	<key>SignatureEditButtonSelected</key>
	<string>body_background_014_m.png</string>
	<key>SignatureDeleteButtonNormal</key>
	<string>body_background_014.png</string>
	<key>SignatureDeleteButtonSelected</key>
	<string>body_background_014_m.png</string>
	<key>SignatureAddDeleteBg</key>
	<string>body_background_014.png</string>
	<key>SignatureScrollViewBg</key>
	<string>body_background_015.png</string>
	<key>SignatureScrollViewItemNormalBg</key>
	<string>body_background_014.png</string>
	<key>SignatureScrollViewItemSelectedBg</key>
	<string>body_background_014_b.png</string>
	<key>SignatureColorPadBg</key>
	<string>body_background_013_F.png</string>
	<key>UpgradeViewTopBg</key>
	<string>body_background_004.png</string>
	<key>UpgradeViewBottomBg</key>
	<string>down_side_001.png</string>
	<key>LevelUpImageTypeIcon</key>
	<string>open_botton_001_b.png</string>
	<key>LevelUpMusicTypeIcon</key>
	<string>music_botton_001_b.png</string>
	<key>LevelUpBrushTypeIcon</key>
	<string>bursh_botton_001_b.png</string>
	<key>LevelUpTimeFontTypeIcon</key>
	<string>miucelist_botton_002.png</string>
	<key>UpgradeViewLevelArrow</key>
	<string>back_botton_001.png</string>
	<key>UpgradeViewLevelUpBg</key>
	<string>body_background_002.png</string>
	<key>UpgradeViewLevelUpTo</key>
	<string>body_background_012.png</string>
	<key>UpgradeViewLevelUpFrom</key>
	<string>body_background_012.png</string>
	<key>UpgradeViewProgressViewBg</key>
	<string>body_background_012.png</string>
	<key>UpgradeViewAchieveBg</key>
	<string>body_background_012.png</string>
	<key>UpgradeViewAchieveIconBg</key>
	<string>body_background_012.png</string>
	<key>UpgradeViewAchieveDetailBg</key>
	<string>body_background_012.png</string>
	<key>UpgradeViewAchieveTitleBg</key>
	<string>title_background_001.png</string>
	<key>UpgradeViewLevelUpTitleBg</key>
	<string>title_background_001.png</string>
	<key>PowerViewBigBackground</key>
	<string>power_big_background.png</string>
	<key>PowerViewBigFullForeground</key>
	<string>power_big_full.png</string>
	<key>PowerViewBackground</key>
	<string>power_big_background.png</string>
	<key>PowerViewFullForeground</key>
	<string>power_big_full.png</string>
	<key>PowerViewBigLowForeground</key>
	<string>power_big_low.png</string>
	<key>PowerViewLowForeground</key>
	<string>power_low.png</string>
	<key>LightViewBg</key>
	<string>sleep_instance.png</string>
	<key>OptionsUserInfoSettingImageGetBg</key>
	<string>body_background_012.png</string>
	<key>OptionsUserInfoSettingProgressBg</key>
	<string>body_background_012.png</string>
	<key>OptionsUserInfoPlusIcon</key>
	<string>buy_botton_001.png</string>
	<key>OptionsUserInfoBigPlusIcon</key>
	<string>buy_botton_b_001.png</string>
	<key>OptoinsUserInfoAchieveIconBg</key>
	<string>body_background_012.png</string>
	<key>OptionsUserInfoAchieveProcessViewBg</key>
	<string>body_background_012.png</string>
	<key>OptionsUserInfoAchieveContentTextBg</key>
	<string>body_background_012_F.png</string>
	<key>OptionsUserInfoNextImageGetIcon</key>
	<string>open_botton_001_b.png</string>
	<key>OptionsUserInfoNextMusicGetIcon</key>
	<string>music_botton_001_b.png</string>
	<key>OptionsUserInfoNextBrushGetIcon</key>
	<string>bursh_botton_001_b.png</string>
	<key>OptionsUserInfoNextTimeFontGetIcon</key>
	<string>bursh_botton_001_b.png</string>
	<key>OptionsUserInfoNextGetIconBg</key>
	<string>body_background_012.png</string>
	<key>OptionsUserInfoImageGetIcon</key>
	<string>open_botton_001_b.png</string>
	<key>OptionsUserInfoMusciGetIcon</key>
	<string>music_botton_001_b.png</string>
	<key>SignatureEditGroupBg</key>
	<string>body_background_014.png</string>
	<key>SignatureSaveBg</key>
	<string>body_background_014.png</string>
	<key>SignatureSaveSelectedBg</key>
	<string>body_background_014_m.png</string>
	<key>SignatureAllBg</key>
	<string>selcetbackground.png</string>
	<key>SignagureColorPadBg</key>
	<string>body_background_015.png</string>
	<key>SignatureScrollViewItemTextBg</key>
	<string>botton_a_002.png</string>
	<key>UpgradeBrushIcon</key>
	<string>bursh_botton_001.png</string>
	<key>LevelUpOKButtonBg</key>
	<string></string>
	<key>SignatureClearBg</key>
	<string>body_background_014.png</string>
	<key>SignatureClearSelectedBg</key>
	<string>body_background_014_m.png</string>
	<key>SignatureBackBg</key>
	<string>body_background_014.png</string>
	<key>SignatureBackSelectedBg</key>
	<string>body_background_014_m.png</string>
	<key>SignatureColorPadFrame</key>
	<string>color_mask_001.png</string>
	<key>SignatureColorPadFrame1</key>
	<string>color_mask_001.png</string>
	<key>MainDisplayLightViewBg</key>
	<string>sleep_icon_001.png</string>
	<key>MainDisplayLightViewIcon</key>
	<string>sleep_icon_002.png</string>
	<key>MusicImageListPlusIcon</key>
	<string>add_botton.png</string>
	<key>MusicImageDeleteIcon</key>
	<string>delete_botton.png</string>
	<key>MusicImageListPlayBg</key>
	<string>body_background_015.png</string>
	<key>SliderBarThumbImageDisable</key>
	<string>Scrollbar_A003.png</string>
	<key>MusicPlayIcon</key>
	<string>music_contrlPanel_play.png</string>
	<key>MusicPauseIcon</key>
	<string>music_contrlpanel_pause.png</string>
	<key>MusicPickerFrameIcon</key>
	<string>outside_gallery_002.png</string>
	<key>MusicPickerSelectedCellBg</key>
	<string>music_background_002_b.png</string>
	<key>MusicSelectedViewSelectedCellBg</key>
	<string>music_background_001_b.png</string>
	<key>MusicImageLineIcon</key>
	<string>list_line.png</string>
	<key>MusicImageLineIcon1</key>
	<string>list_line_001.png</string>
	<key>LoadingIcon</key>
	<string>loading_icon_new001.png</string>
	<key>LoadingIconStage1</key>
	<string>loading_icon_new002.png</string>
	<key>LoadingIconStage2</key>
	<string>loading_icon_new003.png</string>
	<key>LoadingIconStage3</key>
	<string>loading_icon_new004.png</string>
	<key>AppStorePlayBg</key>
	<string>body_background_012.png</string>
	<key>AppStoreLevelUpToMaxBg</key>
	<string>body_background_012.png</string>
	<key>AppStoreLevelUpToMaxIcon</key>
	<string>body_background_012.png</string>
	<key>AppStoreLevelUpToMaxButton</key>
	<string>body_background_012.png</string>
	<key>AppStoreAddImageBg</key>
	<string>body_background_012.png</string>
	<key>AppStoreAddImageIcon</key>
	<string>body_background_012.png</string>
	<key>AppStoreAddImageButton</key>
	<string>body_background_012.png</string>
	<key>AppStoreAddMusicIcon</key>
	<string>body_background_012.png</string>
	<key>AppStoreAddMusicButton</key>
	<string>body_background_012.png</string>
	<key>AppStoreBrushBg</key>
	<string>body_background_012.png</string>
	<key>AppStoreTotalBg</key>
	<string>body_background_012.png</string>
	<key>AppStoreTotalBlank</key>
	<string>body_background_012.png</string>
	<key>AppStoreTotalNumber</key>
	<string>body_background_012.png</string>
	<key>AppStoreSuppoertBg</key>
	<string>body_background_012.png</string>
	<key>AppStoreSubmit</key>
	<string>body_background_012.png</string>
	<key>AppStoreSelectBg</key>
	<string>body_background_001_b.png</string>
	<key>AppStoreButtonSelectBg</key>
	<string>select_botton_001_b.png</string>
	<key>AppStoreButtonNormalBg</key>
	<string>select_botton_001_a.png</string>
	<key>OptionsLockBg</key>
	<string>background_lock001.png</string>
	<key>OptionsLockArchieve</key>
	<string>lock_achievement_001.png</string>
	<key>OptionsLockBuy</key>
	<string>lock_buy_001.png</string>
	<key>OptionsLockLevelUp</key>
	<string>lock_leveup_001.png</string>
	<key>OptionsStoreItemSelectedBg</key>
	<string>body_background_004_b.png</string>
	<key>OptionsStoreItemSelectedButtonBg</key>
	<string>select_botton_001_c.png</string>
	<key>OptionsStoreItemSelectedButtonHBg</key>
	<string>select_botton_001_b.png</string>
	<key>yes</key>
	<string>yes_001.png</string>
	<key>AppStoreLabelBg</key>
	<string>title_background_001.png</string>
	<key>AppStoreItemBg</key>
	<string>body_background_004.png</string>
	<key>OptionsStoreBasicSetting</key>
	<string>store_basesetting_001.png</string>
	<key>OptionsStoreLevelUpMax</key>
	<string>store_leveup.png</string>
	<key>OptionsStoreBrushSetting</key>
	<string>store_setting_001.png</string>
	<key>OptionsStoreAddMusic</key>
	<string>music_botton_001_b.png</string>
	<key>OptionsStoreAddImage</key>
	<string>open_botton_001_b.png</string>
	<key>AppStoreGroupBg</key>
	<string>body_background_002.png</string>
	<key>OptionsPlaySettingAngleValueBg</key>
	<string>body_background_012_F.png</string>
	<key>OptionsPlaySettingTransValueBg</key>
	<string>body_background_012_F.png</string>
	<key>OptionsAboutSettingCopyRightTextBg</key>
	<string>body_background_004.png</string>
	<key>OptionsSignatureViewBarBg</key>
	<string>painterbackground_side.png</string>
	<key>appleBg</key>
	<string>apple_background.png</string>
	<key>InputDialogBg</key>
	<string>body_background_012.png</string>
	<key>SignatureSaveIndicator</key>
	<string>save_botton_001.png</string>
	<key>SignatureCleanIndicator</key>
	<string>clean_botton_001.png</string>
	<key>SignatureBackIndicator</key>
	<string>back_botton_001.png</string>
	<key>OptionsHelpCategoryItemBg</key>
	<string>body_background_004.png</string>
	<key>OptionsHelpCategoryItemHBg</key>
	<string>body_background_004_b.png</string>
	<key>OptionsHelpBackButtonBg</key>
	<string>select_botton_001_a.png</string>
	<key>OptionsHelpBackButtonHBg</key>
	<string>select_botton_001_b.png</string>
	<key>ShareImageFrameImage</key>
	<string>outside_painter_001.png</string>
	<key>ShareButtonNormalImage</key>
	<string>botton_a_001.png</string>
	<key>ShareButtonHImage</key>
	<string>botton_b_001.png</string>
	<key>ImageFloatViewBg</key>
	<string>outside_painter_003.png</string>
	<key>MusicSelectViewSlotBg</key>
	<string>body_background_014.png</string>
	<key>MusicSelectFloatViewFg</key>
	<string>music_list_image_01.png</string>
	<key>UpgradeLevelUpIcon</key>
	<string>levelupicon_001.png</string>
	<key>GooglePlusIcon</key>
	<string>facebook_logo.png</string>
	<key>TwitterButtonImage</key>
	<string>twitte_logo.png</string>
	<key>TwitterButtonImageH</key>
	<string>twitte_logo_b.png</string>
	<key>PicasaButtonImage</key>
	<string>googleplus_logo.png</string>
	<key>PicasaButtonImageH</key>
	<string>googleplus_logo_b.png</string>
	<key>SignInButtonBgH</key>
	<string>body_background_017_b.png</string>
	<key>SignInButtonBg</key>
	<string>body_background_017</string>
	<key>MusicImageAttachListLabelBg</key>
	<string>body_background_002.png</string>
	<key>MusicImageAttachNameBgH</key>
	<string>body_background_014_b.png</string>
	<key>MusicImageAttachNumberBgH</key>
	<string>body_background_014_b.png</string>
	<key>MusicImageAttachPlayBgH</key>
	<string>body_background_014_b.png</string>
	<key>MusicImageAttachAlbumBgH</key>
	<string>body_background_014_b.png</string>
	<key>ShareImageNotOK</key>
	<string>no_001.png</string>
	<key>ShareImageYes</key>
	<string>yes_001.png</string>
	<key>ShareImageMsgBg</key>
	<string>body_background_003.png</string>
	<key>ChargingIcon</key>
	<string>power_big_charging.png</string>
	<key>UISwitchOnOffImage</key>
	<string>switch_on_background_001.png</string>
	<key>HelpBackground</key>
	<string>body_background_009.png</string>
	<key>HelpArrowLeft</key>
	<string>arrow_L.png</string>
	<key>HelpArrowRight</key>
	<string>arrow_R.png</string>
	<key>HelpButtonBackNormal</key>
	<string>Help_close_botton_001.png</string>
	<key>HelpButtonBackH</key>
	<string>Help_close_botton_001b.png</string>
	<key>HelpButtonNextNormal</key>
	<string>Help_next_bottn_001.png</string>
	<key>HelpButtonNextH</key>
	<string>Help_next_bottn_001_b.png</string>
	<key>BarViewLeftArrow</key>
	<string>arrow_L_BIG_001a.png</string>
	<key>BarViewLeftArrowH</key>
	<string>arrow_L_BIG_001b.png</string>
	<key>BarViewRightArrow</key>
	<string>arrow_R_BIG_001a.png</string>
	<key>BarViewRightArrowH</key>
	<string>arrow_R_BIG_001b.png</string>
	<key>3DBackH</key>
	<string>backA_botton_002.png</string>
	<key>3DBack</key>
	<string>backA_botton_001.png</string>
	<key>OptionsUIProgress</key>
	<string>progress bar_003.png</string>
	<key>DiscountImage</key>
	<string>SALE80_001.png</string>
	<key>InkImage</key>
	<string>lnk.png</string>
	<key>InkProgressForegroundImage</key>
	<string>progress_002.png</string>
	<key>PresentOnDutyBackground</key>
	<string>appellation_background_001.png</string>
	<key>NewPersonBackground</key>
	<string>appellation_background_002.png</string>
	<key>DrawingBackground</key>
	<string>appellation_background_003.png</string>
	<key>ShareBackground</key>
	<string>appellation_background_004.png</string>
	<key>FansBackground</key>
	<string>appellation_background_001.png</string>
	<key>AchieveProgress1</key>
	<string>progress_001.png</string>
	<key>AchieveProgress2</key>
	<string>progress_004.png</string>
	<key>AchieveProgress3</key>
	<string>progress_003.png</string>
	<key>AchieveProgress4</key>
	<string>progress_005.png</string>
	<key>HelpButtonBg</key>
	<string>help_background_001.png</string>
	<key>StoreBrush1</key>
	<string>store_burshspree_001.png</string>
	<key>StoreBrush2</key>
	<string>store_burshspree_002.png</string>
	<key>StoreBrush3</key>
	<string>store_burshspree_003.png</string>
	<key>StoreBrush4</key>
	<string>store_burshspree_004.png</string>
	<key>StoreBrush5</key>
	<string>store_burshspree_005.png</string>
	<key>StoreBrush6</key>
	<string>store_burshspree_006.png</string>
	<key>StoreAm1</key>
	<string>store_am_001.png</string>
	<key>StoreAm2</key>
	<string>store_am_002.png</string>
	<key>PromotionIcon</key>
	<string>Promotion_001.png</string>
	<key>NoImageFound</key>
	<string>picturenotfound.png</string>
	<key>NoMusicFound</key>
	<string>no_001.png</string>
	<key>FacebookLinkImageNormal</key>
	<string>facebook_link.png</string>
	<key>FacebookLinkImageH</key>
	<string>facebook_link_b.png</string>
	<key>FacebookLogo</key>
	<string>facebook_logo.png</string>
	<key>ShareButtonNormal</key>
	<string>body_background_004.png</string>
	<key>ShareButtonH</key>
	<string>body_background_004_b.png</string>
	<key>ProductPriceLoading</key>
	<string>loading_icon_new005.png</string>
</dict>
</plist>
